<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" >
    <listeners>
        <listener class-name="Academy.Listeners"/>
    </listeners>
    <test name="test">
        <classes>
            <class name="Academy.HomePage">
                <methods>
                    <include name="basePageNavigation"/>
                </methods>
            </class>
            <class name="Academy.ValidatePage">
                <methods>
                    <include name="valid"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>